#testomonials-wrapper {
	background-image: none !important;
    background-color: #0aa699 !important;
}
.full-width {
    width: 100%;
}

@media (max-width: 767px) {
    .navbar-collapse.in {
        position: fixed;
        right: 15px;
        left: 15px;
    }
}
