a {
    transition: none !important;
}

.uneditable-input.focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .m-uneditable-input:focus {
    background-color: white;
}

.btn {
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none !important;
}

.alert {
    border: none;
    transition: none;
    padding: 15px 19px 15px 15px;
    border-radius: 0px;
}

.alert a {
    color: #004264;
}

.alert-dismissable .close {
    right: -5px;
}

.uppercase{
    text-transform: uppercase;
}

.mark-read-notification{
    font-size: 12px;
    cursor: pointer;
    cursor: hand;
}

.mark-read-notification:hover{
    color: #fff !important;
}

.btn-create-circle-sidebar{
    background: none;
    border: 0;
    margin-top: -5px;
}

.center-block{
    display: table;
}

.unselectable {
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}

.dropdown-left.dropdown-menu:after {
    left: auto;
    right: 13px;
}

.dropdown-left.dropdown-menu {
    left: auto;
    right: 0;
}

.large-user-profile-pic{
    border-radius: 240px;
    display: block;
    height: 120px;
    overflow: hidden;
    width: 120px;
    border: 5px solid #F1F1F1;
    background-color: #e5e9ec;
}

.medium-user-profile-pic{
    border-radius: 25px;
    display: block;
    height: 80px;
    overflow: hidden;
    width: 80px;
    border: 5px solid #F1F1F1;
    background-color: #e5e9ec;
}

.btn-danger-hover:hover{
    color: #ffffff;
    background-color: #f35958;
    border: 1px solid rgba(0,0,0,0);
}

.pointer{
    cursor: pointer;
}

.btn-upload-hover:hover{
    background-color: #F4F4F4;
}

.iframe-border{
    box-shadow: 0 0 0 3px #fff;
    position: relative;
}

.iframe-border-side{
    height: 320px;
}

.upload-box{
    height: 330px;
}

.hover-icon-blg:hover{
    color: #000;
    background-color: #F1F1F1;
    border-radius: 5px;
}

.utility-icon{
    text-align: center;
    width: 25px;
    padding: 5px;
}

.input-full-width{
    width: 100% !important;
}

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none !important;
    color: #505458;
}

.edit-property:hover{
    background-color: #F1F1F1;
    border-radius: 5px;
}

.edit-property-sm{
    padding: 4px 5px;
}

.label-property-sm{
    padding: 4px 5px;
}

.edit-property-lg{
    padding: 4px 10px;
    margin-left: -10px;
}

.editable-ta-fullwidth .editable-pre-wrapped {
    white-space: normal;
}

.editable-ta-fullwidth .editable-container.editable-inline,
.editable-ta-fullwidth .form-group,
.editable-ta-fullwidth .editable-input,
.editable-ta-fullwidth textarea.input-large{
    width: 100%;
}

.btn-sm{
    padding: 6px 10px 3px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    font-size: 11px;
    color: #9E9E9E !important;
}

.display-block{
    display: block;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    font-size: 12px;
    font-weight: 400;
}

.navbar-inner .header-seperation .logo{
    display: block;
    width: auto;
    height: 32px !important;
    margin: 13px auto 0 auto !important;
}

.debts-friend-widget-green{
    max-height: 95px;
}

@media (max-width: 768px) {
    .navbar-inner .header-seperation .logo{
        display: inline;
    }

    .simple-options-form-regularExpense .input-group.transparent,
    .simple-options-form-newRegularExpense .input-group.transparent{
        padding-top: 10px;
    }

    #createGroup, #createHouse,
    .modal-footer .pull-left{
        width: 100%;
    }

    .modal-footer button,
    .modal-footer .pull-right{
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-footer .btn+.btn{
        margin-left: 0px;
    }
}

.chat-window-wrapper{
    overflow: auto !important;
}

.page-content .breadcrumb{
    margin-bottom: 20px;
}

.page-content .breadcrumb li:first-child a{
    margin-left: 0;
}

.page-content .breadcrumb li:last-child{
    font-weight: 600;
    font-size: 14px;
}

#users-detailedMakePayments,
#users-detailedConfirmPayments{
    width:100% !important;
}

#detailedConfirmPayments .grid-body.no-border{
    padding-bottom: 10px;
}
