.row.tiles-container.tiles .table.table-home-box tbody tr td{
    border-top: 1px !important;
    padding: 2px 12px !important;
}

.table thead tr th{
    padding: 5px 12px;
}

.user-info-photo{
    background-color: #fff !important;
    color: #000 !important;
    margin-top: 30px;
}

.user-info-name-price{
    margin-top: 17px;
}

.user-info-wrapper.home-margin-list .home-img-list{
    width:45px;
    height:45px;
}

.home-margin-list{
    margin-left: -35px;
    margin-top: -10px;
}

.grid .grid-title .upcoming-regular-expense-expand{
    margin-right: 0px;
    margin-top: -17px;
}

.grid .grid-title p,
.grid .grid-title .semi-bold{
    width:90%;
    white-space: normal;
    line-height: 1.5;
}

.grid .grid-title.descriptive p .muted{
    color: #898E91;
}

.grid.simple.no-border .grid-title.descriptive{
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}

.grid-title.no-border.descriptive.clickable,
.grid.simple.no-border .grid-body.no-border {
    margin-bottom: -5px;
}

.grid.simple.no-border{
    margin-bottom: 10px;
}

.tiles-body .notification-messages .message-wrapper .heading,
.tiles-body .notification-messages .message-wrapper .description{
    white-space: normal;
    word-break: normal;
    line-height: 15px;
}

.tiles-body .notification-messages .message-wrapper .description{
    font-size: 13px;
}

.header-seperation #portrait-chat-toggler,
.header-seperation #main-menu-toggle-wrapper{
    display: none;
}

.nav.quick-section li .no-boarder{
    width: 350px;
}

.footer-widget button{
    width: 100%;
}

.user-info.user-info-photo.user-info-name-price{
    margin-top: 5px;
}

.user-info-wrapper.home-margin-list .pull-right{
    margin-right: -19px;
}

.widget-table-adjust-right-margin div.pull-right{
    margin-right: 10px;
}

.home-margin-list .div-btn-widget-payments.pull-right{
    margin-right: 12px;
}

.table.table-home-box .unseen.text-primary,
.table.table-home-box .text-right.text-primary{
    width: 130px;
}

.table.table-home-box .text-left.text-primary,
.table.table-home-box .text-left.unseen.text-primary{
    width: 220px;
}

.table.table-home-box tbody .fa{
    width: 15px;
}

.grid.simple.no-border .grid-body.no-border{
    overflow: hidden;
    display: none;
}

.action-bar.pull-right .btn{
    padding: 3px 12px;
    color: #5e5e5e;
}

.action-bar.pull-right .btn .fa{
    font-size: 12px;
}

.action-bar.pull-right .btn:hover{
    background-color: #0090d9;
    color: #fff;
}

/*.tiles-body .friend-list{
	margin-top: 5px;
	margin-bottom: 10px;
}*/

.row.tiles-container.tiles h4{
    font-size: 15px;
    padding-left: 10px;
}

.row.tiles-container.tiles h4{
    font-size: 15px;
    padding-left: 10px;
}

.grid.simple .grid-body.no-border #monthlySpending{
    height: 230px;
}

.navbar-inner .header-seperation .logo{
    width: auto;
    height: 40px;
    margin-top: 9px;
    margin-left: 43px;
}

#friends-list .user-profile img, .chat-toggler .profile-pic img{
    width: 35px;
    height: 35px;
}

.grid.simple.no-border .grid-title h4{
    font-size: 14px;
}

#home-title-confirms,
.tiles .tiles-body .tiles-title,
.tiles .tiles-body .home-next-payments-border #home-title{
    font-size: 15px;
}

.tiles-body .notification-messages{
    background-color: #fff;
    padding: 0px;
    padding-bottom: 5px;
}

.tiles .tiles-body h4{
    font-size: 15px;
}

.popover.fade.bottom.in{
    width: 120px;
    line-height: 30px;
}

.pull-right .chat-toggler{
    margin-right: -45px;
}

.page-sidebar.mini,
.page-sidebar.mini .slimScrollDiv ul#home-sidebar-menu{
    top: 0;
    position: absolute;
}

.page-sidebar.mini,
.page-sidebar.mini .slimScrollDiv ul#home-sidebar-menu{
    top: 0;
    position: absolute;
}

.grid.simple .grid-body .form-actions{
    margin-top: 0px;
}

.home-row-table-confirms div{
    margin-top: 3px;
}

.page-sidebar-wrapper .side-bar-widgets .folders{
    padding-bottom: 20px;
}

.home-img-list-confs{
    width: 35px;
}

.table-home-box{
    margin-top: 15px;
}

.table.table-home-box td{
    vertical-align: middle;
}

.home-button-secondary-confirm{
    display: none;
}

.home-check-confirm .checkbox label:before{
    height: 20px;
    width: 20px;
}

#home-check-list{
    margin-top: -12px;
}

.table-home-box tbody tr td{
    word-wrap: break-word;
}

#table-home-box-fixed{
    table-layout: fixed;
    width: 100%;
}

.row-fluid .checkbox label::after{
    left: 5px;
    top: 2px;
}

.side-widget-title{

}

@media (max-width:900px) {
    .navbar-inner .header-seperation .logo {
        margin-left: -15px;
    }
}

@media (min-width:992px) and (max-width: 1300px) {
    #home-conf-button{
        width: 150px;
    }

    #home-conf-box-button{
        padding-left: 180px;
        padding-top: 10px;
    }

    .friend-list .friend-details-wrapper{
        padding-left: 20px;
    }

    .friend-list .friend-details-wrapper .friend-name,
    .friend-list .friend-details-wrapper .friend-description{
        width: 150% !important;
    }

    .slimScrollDiv #main-menu-wrapper{
        height: 100%;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    #main-menu-wrapper,
    #main-menu .page-sidebar-wrapper ul#home-sidebar-menu{
        top: 0;
        position: absolute;
    }
}

@media (min-width:992px) and (max-width: 1352px) {
    .grid.simple.no-border .grid-title.descriptive h4,
    .grid.simple.no-border .grid-title.descriptive p{
        width:80%;
        line-height: 12px;
    }
}

@media (max-width: 767px) {
    .scrollup{
        position:fixed;
        padding:5px;
        left: 5px;
    }
}

@media (max-width: 520px) {
    .home-button-primary-confirm{
        display: none;
    }
    .home-button-secondary-confirm{
        display: inline-block;
    }
}

.home-button-divida-secondary-confirm{
    display: none;
    width: 100%;
}

/*@media (max-width: 1180px){
    .row.tiles-container.tiles .user-info-wrapper .user-info.user-info-photo{
        width: 50%;
    }
}

@media (max-width: 990px){
    .row.tiles-container.tiles .user-info-wrapper .user-info.user-info-photo{
        width: 70%;
    }
}

@media (max-width: 990px){
    .row.tiles-container.tiles .user-info-wrapper .user-info.user-info-photo{
        width: 60%;
    }
}

@media (max-width: 520px){
    .row.tiles-container.tiles .user-info-wrapper .user-info.user-info-photo{
        width: 55%;
    }
}*/

@media (max-width: 520px){
    .home-button-divida-primary-confirm{
        display: none;
    }
    .home-button-divida-secondary-confirm{
        display: inline-block;
    }
    /*.row.tiles-container.tiles .user-info-wrapper .user-info.user-info-photo{
        width: 70%;
    }*/
    .home-check-list label{
        margin-top:10px;
    }
}

@media (min-width:1200px){
    .debts-friend-widget-red{
        margin-left: -10px;
    }
}

@media (min-width:992px) and (max-width:1200px){
    .debts-friend-widget-green,
    .debts-friend-widget-red{
        padding-right: 25px;
    }
}

button.logout-header[type="submit"]{
    border: none;
    padding: 0;
    background: none;
    color: #1b1e24;
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
}

button.logout-header[type="submit"]:hover {
    outline: none;
}

.profile-wrapper img{
    width: 50px;
    height: 50px;
}

.user-info-wrapper .profile-wrapper {
    width: 50px;
    height: 50px;
}

.user-info-wrapper .user-info .greeting {
    font-size: 15px;
}

.user-info-wrapper .user-info .username {
    font-size: 15px;
}

#chat-users .header-seperation{
    display: block !important;
    height: 61px;
    background-color: #1b1e24;
    margin-top:-16px;
}

#chat-users .side-widget-title{
    margin-left: -15px;
    font-size: 12px
}


.widget-payments-name-user{
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.widget-payments-price{

    text-align:right
}

.home-button-divida-primary-confirm{
    margin-top: 17px;
}

.width-btn-payment{
    width: 100%;
}

.p-t-2{
    padding-top: 2px
}

.label-grey-background{
    background-color: rgba(209, 218, 222, 0.4)
}

.widget-table-adjust-right-margin{
    border-right-width: 0px;
}

.m-t-13{
    margin-top: 13px;
}

.widget-dashboard-arrow-down {
    margin-left: 15px;
    color: #8B8484;
}

.info-wrapper .info{
    color: #898E91;
    font-size: 12px;
}

.upcoming-regular-expense > .grid-title{
    padding: 15px 26px 0 26px !important;
}

.upcoming-regular-expense .form-actions{
    padding: 20px 26px;
}

.upcoming-regular-expense .grid-body{
    padding: 0px 26px !important;
    overflow: initial !important;
}

.input-group-addon.info {
    background-color: #1f3853;
    border: 1px solid #1f3853;
    color: #ffffff;
    display: table-cell;;
}

.input-focus {
    background-color: #fff !important;
}

.upcoming-regular-expense .transparent .input-group-addon {
    padding: 8px 0px 10px 14px;
}

.input-group.transparent.success-control .input-group-addon{
    border: none;
}

.input-group.transparent.success-control input{
    border: none;
}

.input-group.transparent.error-control .input-group-addon{
    border: none;
}

.input-group.transparent.error-control input{
    border: none;
}

.input-group.transparent.error-control{
    border: 1px solid #f35958;
}

.input-group.transparent.success-control{
    border: 1px solid #0aa699;
}
