.user-profile-pic{
    margin-top: 0px
}

.user-description-box{
    background-color: #fff;
    padding: 10px 20px;
}

.text-dark-grey{
    color: #505458 !important;
}

.user-description-box p{
    margin-bottom: 5px;
}

.profile-circle-name{
    vertical-align: super;
}

.btn-sm{
    padding: 6px 10px 3px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    font-size: 12px;
    font-weight: 400;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    font-size: 10px;
    color: #8b91a0 !important;
}