.user-profile-pic{
    margin-top: 0px
}

.user-description-box{
    background-color: #fff;
    padding: 10px 20px;
}

.text-dark-grey{
    color: #505458 !important;
}

.user-description-box p{
    margin-bottom: 5px;
}

.profile-circle-name{
    vertical-align: super;
}

#edit_photo{
    display: none;
}

.profile-photo-error{
    font-size: 12px;
}

.user-description-box p i {
    width: 20px;
    font-size: 14px;
}

.user-description-box{
    margin-left: 0px;
    margin-right: 0px;
}

.profile-debts-resume h3{
    margin: 0px
}

.profile-debts-resume h5{
    margin: 12px 0px 0px 0px;
}
