.div-new-friend-regular-expense{
    width: 96%;
}

.table-home-box.table-edit-user-regular-expense tr td{
    vertical-align: top;
}

#expense-circles-btnNew{
    cursor: hand;
    cursor: pointer;
}
