.btn-create-circle-sidebar{
    background: none;
    border: 0;
    margin-top: -5px;
}

.add-more-friends input,
.houseForm .friendsHome,
.houseForm .expenseType{
    width:100%;
}

.houseForm .add-more-friends{
    display: none;
}

.addNewReferredUser{
    height:36px;
}

.add-more-friends .divAddNewReferredUser{
    padding-left: 0;
}

ul#home-sidebar-menu .title{
    font-size: 13px;
}

ul#home-sidebar-menu li > a{
    padding: 3.5px 31px 11.5px 31px;
}
